[submodule "GZEngine/vendor/spdlog"]
	path = GZEngine/vendor/spdlog
	url = git@github.com:qiming2/spdlog.git
[submodule "GZEngine/vendor/imgui"]
	path = GZEngine/vendor/imgui
	url = git@github.com:qiming2/imgui.git
[submodule "GZEngine/vendor/flecs"]
	path = GZEngine/vendor/flecs
	url = git@github.com:qiming2/flecs.git
[submodule "GZEngine/vendor/glm"]
	path = GZEngine/vendor/glm
	url = git@github.com:qiming2/glm.git
[submodule "GZEngine/vendor/imgui-node-editor"]
	path = GZEngine/vendor/imgui-node-editor
	url = git@github.com:qiming2/imgui-node-editor.git
[submodule "GZEngine/vendor/VulkanMemoryAllocator"]
	path = GZEngine/vendor/VulkanMemoryAllocator
	url = git@github.com:qiming2/VulkanMemoryAllocator.git
